.intro {
    display: flex;
    height: 100vh;
}

.intro-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.i-scroll {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
}

.intro-right {
    flex: 1;
    position: relative;
}

.intro-left-wrapper {
    padding: 50px;
    height: 50%;
    /* border: solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-hello {
    font-size: 35px;

}

.intro-name {
    font-size: 65px;
    font-weight:400;
    font-weight: lighter;
    color: rgb(0, 0, 0);

}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 7s ease-in-out infinite alternate;
}

@keyframes move {
    33% {
        transform: translateY(-50px);
    }

    66% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(-150px);
    }

}

.intro-title-item {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(80, 80, 80);;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 1px #d6d6d6;
}

.intro-title-item2 {
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 1px #d6d6d6;
}


.intro-bg {
    /* clip-path: polygon(100% 0%, 65% 49%, 100% 100%, 25% 100%, 0% 50%, 34% 0); */
    clip-path: circle(47.4% at 92% 42%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-image: linear-gradient(180deg, #ffffff, #dbe4f2,#9db7dd, #ffffff);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}


.intro-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}